textarea {
    min-height: 400px;
}
.row-style {
    border-style: solid;
    padding: 10px;
    cursor: pointer;
}
.read {
    background-color: grey;
}
.timestamp {
    float: right;
}
#archive, #reply {
    display: none;
}